<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="confetti.js"></script>
<script>
  // $(document).ready(function(){
    $('.ashna').click(function(event){
    confetti.start();
  });
//  }
</script>

<script>
  $(document).ready(function(){
    $('.see-my-work').delay(8000).show(0)
  }
</script>

<script>
// The resize function
function resize() {
  var vheight = $(window).height();
  var vwidth = $(window).width();
  $('.fullsize-background').css({
    'height': vheight,
    'width': vwidth 
  });
};

// The scroll-up function
// function scrollUp() {
//   var vheight = $(window).height();
//   $('html, body').animate({
//     scrollTop: (Math.ceil($(window).scrollTop() / vheight)-1) * vheight
//   }, 500);
// };

// The scroll-down function
function scrollDown() {
  var vheight = $(window).height();
  $('html, body').animate({
    scrollTop: (Math.floor($(window).scrollTop() / vheight)+1) * vheight
  }, 500);  
};

// Do stuff when document is ready
$(document).ready(function(){
  
  // Resize Container Function
  resize();
  
  // Click to Scroll DOWN Functions
  $('.scroll-next').click(function(event){
    scrollDown();
    event.preventDefault();
  });
  
  // Click to Scroll UP Functions
  $('.scroll-prev').click(function(event){
    scrollUp();
    event.preventDefault();
  });
  
});

// Resize Container on window resize
$(window).resize(function(){
  
  resize();
  
});
</script>

<div class="full-height-container no-gutters">
<div class="row ">
  <div class="col-12 col-md-6 cl">
    <div class="home-image lilac">
      <div style="height: 90%" class="d-flex align-items-center justify-content-center">
      <h5 class="intro">Hello World. I'm <span class="ashna">Ashna</span>, a full stack web and mobile application developer based in London. With a key interest in design, I love finding beautiful, creative solutions to technological problems.</h5>
      </div>
      <div class="mb-2 d-flex flex-column align-items-center justify-content-center see-my-work" style="height: 10%; color: white">
      <a href="" class="scroll-next" style="color: white; font-size: 25px">
        <i class="fas fa-chevron-circle-down"></i>
      </a>
      <p style="font-size: 10px">See my work</p>    
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 cr">
    <div class="home-image ashna-pic">
      <%# <i class="fas fa-chevron-right float-left d-flex align-items-center" style="position: absolute"></i> %>
      <%= image_tag "ashna2.JPG", alt: "alttext" %>
      <div class="sideoverlay">
        <div class="sidetext">After completing an undergraduate degree in Mathematics, I worked as a Data Analyst for 2 years before deciding to pursue a career in Tech. Through self learning and attending a Full Stack Web Development Bootcamp in Bali, I learnt to code and gained the skills necessary to become a developer. Fast-forward back to London, I am currently working as a Junior iOS & Android App Developer within the PropTech sector.</div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="full-height-container no-gutters">
<div class="row ">
  <div class="col-12 col-md-6 cl">
    <div class="home-image img-hover-zoom">
      <%= link_to travelpin_path do  %>
        <%= image_tag "TravelPin.png", alt: "alttext" %>
      <% end %>
      <%= link_to travelpin_path do  %>
      <div class="overlay">
        <div class="text" style="padding-left: 35px">TravelPin</div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-12 col-md-6 cr">
    <div class="home-image img-hover-zoom">
    <%= link_to skuter_path do  %>
      <%= image_tag "skuter.png", alt: "alttext" %>
    <% end %>
    <%= link_to skuter_path do  %>
    <div class="overlay">
      <div class="text" style="padding-left: 35px">Skuter</div>
    </div>
    <% end %> 
    </div>   
  </div>
</div>
</div> 

