<div class="mycontainer">

  <div class="row mb-3">
    <div class="col col-12 col-md-6">
        <h3 class="mb-4">TravelPin</h3>
        <p>TravelPin was born after I pitched my idea to my peers during my time at Le Wagon, an intensive Full-Stack Web Development bootcamp, where it was shortlisted as a final project. The inspiration comes from my own frustrations of planning group travel with friends, it’s always difficult to get everyone together in one place, and sometimes it’s not possible at all. Group chats tend to get overflown and more often than not I’ll find myself scrolling through hundreds of messages to find that amazing Korean restaurant a friend recommended a while ago. It would be easier if there were one place you could save all the ideas of experiences you and your friends want to have whilst on holiday!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-l col-12 col-md-6 float-left d-flex">
      <div class="portfolio-image mb-4">
        <%= image_tag "pitch.JPG", alt: "alttext" %>
      </div>
    </div>
    <div class="col col-12 col-md-6 d-flex">
      <p>The concept of TravelPin is simple: you can create a board for a destination you want to travel to, invite your friends to it, and then individually pin ideas of experiences you want to have. You’ll end up with a mood board full of inspiring suggestions for things to see, do and eat. Best thing is, powered by the Google Maps api, so each experience will have it’s own geo-location, and will be represented by a pin on map. You then have access to so much information about the place; it’s exact address, reviews, phone number, price rating and more! It’s then easy to create structured itineraries using everyone’s suggestions so you never have the issue of forgetting to do something you really wanted to. All of this makes it fun, easy and inspiring to plan the next group getaway.</p>
    </div>
  </div>
  <%# <div class="row">
    <div class="col col-12 col-md-6">
      <p>The concept of TravelPin is simple: you can create a board for a destination you want to travel to, invite your friends to it, and then individually pin ideas of experiences you want to have. You’ll end up with a mood board full of inspiring suggestions for things to see, do and eat. Best thing is, powered by the Google Maps api, so each experience will have it’s own geo-location, and will be represented by a pin on map. You then have access to so much information about the place; it’s exact address, reviews, phone number, price rating and more! It’s then easy to create structured itineraries using everyone’s suggestions so you never have the issue of forgetting to do something you really wanted to. All of this makes it fun, easy and inspiring to plan the next group getaway.</p>
    </div>
  </div> %>
  <div class="pad"></div>

  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="row">
          <div class="col col-12 col-md-6">
            <div class="travelpin-image">
              <%= image_tag "travelpin1.png", alt: "alttext" %>
            </div>
          </div>
          <div class="col col-12 col-md-4 travelpin-carousel-text">
            <p>TravelPin is a sharing and social media platform, designed to enable and enhance the experience of planning group travel.</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="col col-12 col-md-6">
            <div class="travelpin-image">
              <%= image_tag "travelpin2.png", alt: "alttext" %>
            </div>
          </div>
          <div class="col col-12 col-md-4 travelpin-carousel-text">
            <p>Through the app you would create a board by entering the destination and giving it a name.</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="col col-12 col-md-6">
            <div class="travelpin-image">
              <%= image_tag "travelpin3.png", alt: "alttext" %>
            </div>
          </div>
          <div class="col col-12 col-md-4 travelpin-carousel-text">
            <p>This will generate a new board with a blank map and give you the current weather and live currency rates for your destination.</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="col col-12 col-md-6">
            <div class="travelpin-image">
              <%= image_tag "travelpin4.png", alt: "alttext" %>
            </div>
          </div>
          <div class="col col-12 col-md-4 travelpin-carousel-text">
            <p>It’s now time to add your friends to the board so they can contribute their ideas and view yours as well as create itineraries and vote on the best pins.</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="col col-12 col-md-6">
            <div class="travelpin-image">
              <%= image_tag "travelpin5.png", alt: "alttext" %>
            </div>
          </div>
          <div class="col col-12 col-md-4 travelpin-carousel-text">
            <p>You can view the pins added at any time and clicking them will open up a whole lot more information about the experience, thanks to Google Places API.</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div class="col col-12 col-md-6">
            <div class="travelpin-image">
              <%= image_tag "travelpin6.png", alt: "alttext" %>
            </div>
          </div>
          <div class="col col-12 col-md-4 travelpin-carousel-text">
            <p>As well as a map view, you’ll also see a visual representation of the collective ideas for your destination, like a mood board.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col col-12 col-md-12">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></i>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
      </div>
    </div>

    <%# <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <i class="fas fa-chevron-left chev ml-4"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <i class="fas fa-chevron-right chev mr-4"></i>
      <span class="sr-only">Next</span>
    </a> %>


  </div>

  <div class="pad"></div>

  <div class="row mb-3">
    <div class="col-l col-12 float-left ">
      <h5 class="mb-4">The Planning</h5>
    </div>  
    <div class="col-l col-12 col-md-6 float-left d-flex">
      <div class="portfolio-image mb-4">
        <%= image_tag "schema.png", alt: "alttext" %>
      </div>
    </div>
    <div class="col col-12 col-md-6 d-flex">
      <p>The concept of TravelPin is simple: you can create a board for a destination you want to travel to, invite your friends to it, and then individually pin ideas of experiences you want to have. You’ll end up with a mood board full of inspiring suggestions for things to see, do and eat. Best thing is, powered by the Google Maps api, so each experience will have it’s own geo-location, and will be represented by a pin on map. You then have access to so much information about the place; it’s exact address, reviews, phone number, price rating and more! It’s then easy to create structured itineraries using everyone’s suggestions so you never have the issue of forgetting to do something you really wanted to. All of this makes it fun, easy and inspiring to plan the next group getaway.</p>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-l col-12 col-md-6 float-left d-flex">
      <div class="portfolio-image mb-4">
        <%= image_tag "trello.png", alt: "alttext" %>
      </div>
    </div>
    <div class="col col-12 col-md-6 d-flex">
      <p>The concept of TravelPin is simple: you can create a board for a destination you want to travel to, invite your friends to it, and then individually pin ideas of experiences you want to have. You’ll end up with a mood board full of inspiring suggestions for things to see, do and eat. Best thing is, powered by the Google Maps api, so each experience will have it’s own geo-location, and will be represented by a pin on map. You then have access to so much information about the place; it’s exact address, reviews, phone number, price rating and more! It’s then easy to create structured itineraries using everyone’s suggestions so you never have the issue of forgetting to do something you really wanted to. All of this makes it fun, easy and inspiring to plan the next group getaway.</p>
    </div>
  </div>

  <div class="pad"></div>
  
  <div class="row">
    <div class="col-l col-12 float-left ">
      <h5>The Pitch</h5>
    </div>
    <div class="col-l col-12 col-md-6 float-left d-flex mb-4">
      <iframe src="https://www.youtube.com/embed/YWLzbigofr8?start=3573" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col col-12 col-md-6 d-flex">
      <p>The concept of TravelPin is simple: you can create a board for a destination you want to travel to, invite your friends to it, and then individually pin ideas of experiences you want to have. You’ll end up with a mood board full of inspiring suggestions for things to see, do and eat. Best thing is, powered by the Google Maps api, so each experience will have it’s own geo-location, and will be represented by a pin on map. You then have access to so much information about the place; it’s exact address, reviews, phone number, price rating and more! It’s then easy to create structured itineraries using everyone’s suggestions so you never have the issue of forgetting to do something you really wanted to. All of this makes it fun, easy and inspiring to plan the next group getaway.</p>
    </div>
  </div>
  
  <div class="arrow d-flex justify-content-center mt-5">
    <div class="left mb-3">
    </div>
    <div class="right mb-3">
      <a href="skuter">
        <div class="d-flex float-right align-items-center">
        <p class="m-0 chev-text">Skuter</p>
        <i class="fas fa-chevron-right chev ml-4"></i>
        </div>
      </a>
    </div>
  </div>    

</div>


