<div class="pad"></div>
<div class="about-text">
  <h3>TravelPin</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<div class="pad"></div>
<div class="about-text">
<div class="travelpin-image">
  <%= image_tag "travelpin1.png", alt: "alttext" %>
</div>
<div class="travelpin-image">
  <%= image_tag "travelpin2.png", alt: "alttext" %>
</div>
<div class="travelpin-image">
  <%= image_tag "travelpin3.png", alt: "alttext" %>
</div>
<div class="travelpin-image">
  <%= image_tag "travelpin4.png", alt: "alttext" %>
</div>
<div class="travelpin-image">
  <%= image_tag "travelpin5.png", alt: "alttext" %>
</div>
<div class="travelpin-image">
  <%= image_tag "travelpin6.png", alt: "alttext" %>
</div>
<div class="arrow d-flex justify-content-center">
  <div class="left mb-3">
  </div>
  <div class="right mb-3">
    <a href="skuter">
      <div class="d-flex float-right align-items-center">
      <p class="m-0 chev-text">Skuter</p>
      <i class="fas fa-chevron-right chev ml-4"></i>
      </div>
    </a>
  </div>
</div>
